#correctText {
  color: cadetblue;
  font-size: 80%;
}

#checkText {
  color: darkslategrey;
  font-size: 250%;
  text-align: center;
}

.gameBox {
  background-color: white;
  position: relative;
  padding: 5%;
  border: 3px solid #333;
  border-radius: 10px;
  border-color: rgb(3 105 161);
  color: #333;
  margin-top: 30%;
}
