.timeGauge {
  position: relative;
  height: 2rem;
  background: #b0c4de;
}

.timeGauge:before {
  content: "";
  height: 2rem;
  background: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
}

.timeGauge:after {
  content: "";
  width: 15px;
  height: 2rem;
  background: rgb(3 105 161);
  position: absolute;
  left: 0%;
  bottom: 0;
  animation-name: gaugeGo;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* アニメーション */
@-webkit-keyframes gaugeGo {
  0% {
    width: 0px;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes gaugeGo {
  0% {
    width: 0px;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
